[submodule "external/Optimization_f90"]
	path = external/Optimization_f90
	url = https://github.com/ronaldremmerswaal/Optimization_f90.git
[submodule "external/r3d"]
	path = external/r3d
	url = https://github.com/devonmpowell/r3d.git
[submodule "external/pfunit"]
	path = external/pfunit
	url = git://git.code.sf.net/p/pfunit/code
